*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}

header{
    /*sus elementos en horizontal*/
    display: flex;
    /*altura del encabezado*/
    min-height: 110px;
    /*fondo de header*/ 
    background-color: rgb(69, 187, 53);

    /*background: linear-gradient( rgb(164, 124, 218) 80% , rgb(241, 206, 212));*/

    /*se separen sus elementos en las esquinas*/
    justify-content: space-between;
    /*alinear elementos veticalmente al centro*/
    align-items: center;
    /*espaciado interno*/
    padding: 20px;
}

.logo{
    /*sus elementos en horizontal*/
    display: flex;
    /*alinear elementos veticalmente al centro*/
    align-items: center;
}

.logo img{
    /*altura del logo*/
    height: 90px;
    /*separar los el logo del nombre*/
    margin-right: 10px;
}

.logo h2{
    color: black;
}

nav{
    display: flex;
    gap: 20px; /* Espaciado entre enlaces */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}

nav a{
    color: aliceblue;
    /*letra en negrita*/
    font-size: 24px;
    font-weight: 600;

    
}

nav a:hover{
    color: rgb(15, 54, 9);
}

@media (max-width:900px){
    header{
        flex-direction: column;
    }

    nav{
        margin-top: 10px;
    }
}
